.projects {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10vh;
  margin-top: 10vh;
}

.projects h2 {
  font-family: Work Sans;
}

.projects p {
  font-family: Hind Siliguri;
}

.proj-settings {
  margin: 5vh 0 5vh;
}
